<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223998099195-2lr74l45rrfcdu1mnfhra5n32jopu47p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223998099195-2lr74l45rrfcdu1mnfhra5n32jopu47p</string>
	<key>API_KEY</key>
	<string>AIzaSyCmafiVPQK4xT3pADdbKRIYW6uvbRDPt10</string>
	<key>GCM_SENDER_ID</key>
	<string>223998099195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nsemir.Tinder-Clone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-afbc5</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-afbc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223998099195:ios:d8cf40a50efcd076423a5e</string>
</dict>
</plist>